*.iml
.gradle
/local.properties
/frontend/.idea/caches
/frontend/.idea/libraries
/frontend/.idea/modules.xml
/frontend/.idea/workspace.xml
/frontend/.idea/navEditor.xml
/frontend/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/frontend/.idea/*
/frontend/.idea

