<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="sample">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <jta-data-source>java:/DefaultDS</jta-data-source>
        <mapping-file>ormap.xml</mapping-file>
        <jar-file>MyApp.jar</jar-file>
        <class>org.acme.Employee</class>
        <class>org.acme.Person</class>
        <class>org.acme.Address</class>
        <class>com.flatfusion.backend.entities.UserEntity</class>
        <class>com.flatfusion.backend.entities.GroupEntity</class>
        <class>com.flatfusion.backend.entities.GroupMembershipEntity</class>
        <class>com.flatfusion.backend.entities.GroupGroceryEntity</class>
        <class>com.flatfusion.backend.entities.CleaningEntity</class>
        <class>com.flatfusion.backend.entities.CleaningTemplateEntity</class>
        <class>com.flatfusion.backend.entities.PaymentEntity</class>
        <class>com.flatfusion.backend.entities.PaymentParticipationEntity</class>
        <class>com.flatfusion.backend.entities.PaymentsChangeEntity</class>
        <properties>
            <property name="hibernate.connection.driver_class" value="com.mysql.cj.jdbc.Driver">com.mysql.jdbc.Driver</property>
            <property name="hibernate.connection.url" value="jdbc:mysql://flatfusion.hopto.org:3306/flatfusion">url</property>
            <property name="hibernate.connection.username" value="admin">username</property>
            <property name="hibernate.connection.password" value="q'8,HbPY2hmG@_&lt;9Xz.+&quot;A">password</property>
            <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        </properties>
    </persistence-unit>
</persistence>